<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringBoot模版渲染</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}">
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md12">
            <table id="demo" lay-filter="test"></table>
        </div>
    </div>
</div>
</body>
<script th:src="@{layui/layui.js}"></script>
<script th:inline="none">
    layui.config({
        base: '../'
    }).use('customTable',() => {
        layui.customTable.render('/users',[ //表头
            {field: 'id', title: 'ID', sort: true, fixed: 'left'}
            ,{field: 'username', title: '用户名',}
            ,{field: 'sex', title: '性别', sort: true}
            ,{field: 'city', title: '城市', }
            ,{field: 'sign', title: '签名', }
            ,{field: 'experience', title: '积分', sort: true}
            ,{field: 'score', title: '评分', sort: true}
            ,{field: 'classify', title: '职业'}
            ,{field: 'wealth', title: '财富', sort: true}
        ])
    });
</script>
</html>
