<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringBoot模版渲染</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}">
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md12">
            <table id="demo" lay-filter="test"></table>
        </div>
    </div>


</div>
</body>
<script th:src="@{layui/layui.js}"></script>
<script th:inline="none">
    //一般直接写在一个js文件中
    layui.config({
        base: '../' //你存放新模块的目录，注意，不是layui的模块目录
    }).use('customTable',() => {
        layui.customTable.render('/',[ //表头
            {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
            ,{field: 'username', title: '用户名', width:80}
            ,{field: 'sex', title: '性别', width:80, sort: true}
            ,{field: 'city', title: '城市', width:80}
        ])
        console.log(layui.customTable)
    });
</script>
</html>
